.fa-A:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'A';
}

.fa-B:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'B';
}

.fa-C:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'C';
}
.fa-Ç:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Ç';
}
.fa-D:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'D';
}
.fa-E:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'E';
}
.fa-F:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'F';
}
.fa-G:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'G';
}
.fa-GG:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Ğ';
}
.fa-H:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'H';
}
.fa-I:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'I';
}
.fa-II:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'İ';
}
.fa-J:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'J';
}
.fa-K:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'K';
}
.fa-L:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'L';
}
.fa-M:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'M';
}
.fa-N:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'N';
}
.fa-O:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'O';
}
.fa-OO:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Ö';
}
.fa-P:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'P';
}
.fa-R:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'R';
}
.fa-S:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'S';
}
.fa-SS:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Ş';
}
.fa-T:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'T';
}
.fa-U:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'U';
}
.fa-UU:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Ü';
}
.fa-V:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'V';
}
.fa-Y:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Y';
}
.fa-Z:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Z';
}
.fa-W:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'W';
}
.fa-X:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'X';
}
.fa-Q:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'Q';
}
