.profile-user-img-personel-listesi {
	border: 1px solid #adb5bd;
	margin: 0 auto;
	padding: 1px;
	width: 40px;
}

.input-group .input-group-prepend.personel-ekle {
	flex: 0 0 50%;
}

.input-group .input-group-text.personel-ekle {
	width: 100%;
}

div.dt-button-collection div.dropdown-menu {
	display: block !important;
	z-index: 2002 !important;
	min-width: 100% !important;
	max-height: 500px !important;
	overflow-y: scroll !important;
}